<%- include("./partials/nav.ejs") %>
<body >
    <div class="card " >
        <h1 id="speech"style="margin:20px"><%=resp%></h1>
        
    </div>
    <div class="card">
        <h1 id="lang"style="margin:20px">Response Language:<%= resp2%></h1>
    </div>
    <div class="card">
        
    </div>
    <h2><a href="/">Ask another Question <-</a></h2>
</body>
<script src="/js/speech.js"></script>

</html>